@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #1a1a1a !important;
  overscroll-behavior: none;
}

html:not(.dark) {
  background-color: white !important;
}

body {
  @apply bg-white dark:bg-[#1a1a1a] text-black dark:text-white transition-colors;
}
